<ng-container *ngIf="post">
    <div class="editor" [hidden]="!editing">
        <div class="editor__inner">
            <mat-form-field class="editor__input">
                <input matInput placeholder="Post title" [(ngModel)]="post!.title">
            </mat-form-field>
            <br>
            <mat-form-field class="editor__input">
                <textarea matInput placeholder="Content" [(ngModel)]="post!.content" rows="10"></textarea>
            </mat-form-field>
            <br>
            <button class="editor__btn" mat-raised-button color="primary" [disabled]="!post!.title || !post!.content"
                (click)="update()">
                Save
            </button>
        </div>
    </div>
    <div [hidden]="editing">
        <article class="post" *ngIf="post">
            <div class="post__inner">
                <div class="post__header">
                    <h3 class="post__category">Training</h3>
                    <h2 class="post__heading">{{post.title}}</h2>
                    <div class="post__img-wrapper">
                        <img class="post__img" [src]="post.image" alt="{{post.title}}">
                    </div>
                </div>
                <div class="post__content">
                    <div class="post__side-buttons post__side-buttons--left">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"
                            mat-icon-button>
                            <i class="fa-brands fa-facebook" style="color: #4267B2"></i>
                        </a>
                        <a href="https://twitter.com/share?url=example.org" target="_blank" mat-icon-button>
                            <i class="fa-brands fa-twitter" style="color: #1DA1F2"></i>
                        </a>
                        <button mat-icon-button (click)="copyUrl()">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                    </div>
                    <div class="post__side-buttons post__side-buttons--right"
                        *ngIf="auth.currentUserId === post.authorId">
                        <button mat-icon-button (click)="enterEditMode()">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button mat-icon-button (click)="delete()">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                    <div class="post__content-header">
                        <h3 class="post__subtitle">
                            {{post.subtitle}}
                        </h3>
                        <span class="post__info">
                            <span class="post__author-img">
                                <img width="30" height="30"
                                    [src]="post.authorImg ?? '../../../../assets/images/avatar_placeholderpng.png'"
                                    alt="">
                            </span>
                            <span>{{post.author}}</span>
                            &bull;
                            <span>{{post.published.toDate() | date: 'dd MMMM yyyy'}}</span>
                            &bull;
                            <span>
                                <i class="fa-solid fa-clock"></i>
                                {{post.readingTime}} min read
                            </span>
                        </span>
                    </div>
                    <div class="post__content-main">
                        <p class="post__paragraph">
                            {{post.content}}
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</ng-container>