<section class="about">
    <div class="about__inner">
        <div class="about__heading-wrapper">
            <h2 class="about__heading">
                HS is a coaching service company built to guide and
                assist recreational and professional athletes during their sports journey.
            </h2>
        </div>
        <div class="about__description-wrapper">
            <div class="about__description">
                <p class="about_paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit voluptas in
                    excepturi assumenda commodi dicta inventore soluta asperiores ex voluptates? Et itaque iusto dolorem
                    necessitatibus blanditiis velit, quia totam nihil facere quasi delectus natus explicabo quam nemo
                    commodi odio perferendis in, fugit debitis rem, deserunt voluptas! Doloremque quisquam ullam,
                    voluptates temporibus ipsa maxime, ducimus reiciendis officiis debitis veniam sequi molestiae facere
                    commodi provident incidunt sunt omnis fugiat non officia tempora? Quasi vel, a aliquam eos libero
                    repellat mollitia? Iusto eius iste excepturi cum ducimus ipsam ex inventore molestiae pariatur minus
                    dolore, totam nam libero perspiciatis aperiam sunt neque distinctio rem?</p>
                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam est
                    quaerat ex, laudantium eligendi, quo beatae corrupti tenetur odit quia alias! Accusantium cumque
                    minus excepturi modi dolorem ratione quaerat temporibus, asperiores culpa labore quisquam aliquid
                    inventore voluptas harum sunt sapiente ab dolore, dicta dignissimos at natus laudantium fugit? Et.
                </p>
            </div>
            <div class="about__description about__description--flex">
                <p class="about__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea unde nihil, nesciunt tenetur
                    cupiditate facilis dignissimos quidem exercitationem laudantium error architecto deleniti doloribus
                    molestiae labore aut? Impedit, quis magni. Odio harum eos et nobis voluptates error iste suscipit
                    omnis?
                </p>
                <p class="about__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat ut minus earum natus fuga
                    odio odit aperiam quaerat, laudantium nemo magni suscipit beatae ipsa nobis! Aut aliquam similique
                    exercitationem!
                </p>
            </div>
        </div>
        <div class="about__heading-wrapper">
            <h2 class="about__heading">
                HS is a coaching service company built to guide and
                assist recreational and professional athletes during their sports journey.
            </h2>
        </div>
    </div>
</section>