<section class="register">
    <div class="register__inner">
        <div class="register__header">
            <h2 class="register__heading">
                Join HS today
            </h2>
        </div>
        <div class="auth__form-wrapper">
            <form class="auth__form" #form="ngForm" (ngSubmit)="registerHandler(form)">
                <div class="auth__form-group">
                    <!-- <label for="email">Email</label> -->
                    <input class="auth__input" autype="text" name="email" id="email" placeholder="Email"
                        #emailInput="ngModel" ngModel required email>
                </div>
                <div class="auth__form-group">
                    <label for="password">Password</label>
                    <input class="auth__input" type="password" name="password" id="password" placeholder="Password"
                        #passwordInput="ngModel" ngModel required [minlength]="6">
                </div>
                <div class="auth__form-group">
                    <label for="confirm-password">Confirm password</label>
                    <input class="auth__input" type="password" name="confirmPassword" id="confirm-password"
                        placeholder="Confirm password" #confirmPasswordInput="ngModel" ngModel required [minlength]="6"
                        hsEqualValue="password">
                </div>
                <button class="auth__btn btn--light pointer" [disabled]="form.invalid">
                    Register
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <div class="auth__errors">
                    <ul class="auth__errors__list" *ngIf="emailInput.invalid && emailInput.touched">
                        <li *ngIf="emailInput.errors?.required" class="auth__error">
                            Email is required.
                        </li>
                        <li *ngIf="emailInput.errors?.email" class="auth__error">
                            Email is invalid.
                        </li>
                    </ul>
                    <ul class="auth__errors-list" *ngIf="passwordInput.invalid && passwordInput.touched">
                        <li *ngIf="passwordInput.errors?.minlength" class="auth__error">
                            Password must be at least 6 characters long.
                        </li>
                    </ul>
                    <ul class="auth__errors-list" *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
                        <li *ngIf="confirmPasswordInput.errors?.equalValue" class="auth__error">
                            Password and confirm password do not match.
                        </li>
                    </ul>
                </div>
            </form>
            <div class="register__footer">
                <p class="register__login">
                    Do you already have an account?
                    <a routerLink="/login">Log in</a>
                </p>
            </div>
        </div>
    </div>
</section>