<section class="login">
    <div class="login__inner">
        <div class="login__header">
            <h2 class="login__heading">Welcome back</h2>
            <p class="login__subheading">
                Don't have an account?
                <br>
                <a class="login__link" routerLink="/register">Sign up for free</a>
            </p>
        </div>
        <div class="login__alts">
            <button class="login__google auth__btn button--light pointer" (click)="googleLoginHandler()">
                Log in with Google
            </button>
            <button class="login__fb auth__btn button--light pointer" (click)="facebookLoginHandler()">
                Log in with Facebook
            </button>
        </div>
        <div class="auth__form-wrapper">
            <form #form="ngForm" class="auth__form" (ngSubmit)="loginHandler(form)">
                <div class="auth__form-group">
                    <!-- <label for="email">Email</label> -->
                    <input class="auth__input" type="text" name="email" id="email" placeholder="Email"
                        #emailInput="ngModel" ngModel required email>
                </div>
                <div class="auth__form-group">
                    <!-- <label for="password">Password</label> -->
                    <input class="auth__input" type="password" name="password" id="password" placeholder="Password"
                        #passwordInput="ngModel" ngModel required [minlength]="6">
                </div>
                <button class="auth__btn button--light pointer">
                    Log in
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <div class="auth__errors" *ngIf="emailInput.invalid && emailInput.touched">
                    <ul class="auth__error-list">
                        <li *ngIf="emailInput.errors?.['required']" class="auth__error">
                            Email is required.
                        </li>
                        <li *ngIf="emailInput.errors?.['email']" class="auth__error">
                            Email is invalid.
                        </li>
                    </ul>
                </div>
                <div class="auth__errors" *ngIf="passwordInput.invalid && passwordInput.touched">
                    <ul class="auth__errors-list">
                        <li *ngIf="passwordInput.errors?.['minlength']" class="auth__error">
                            Password must be at least 6 characters long.
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>