<section class="hero">
    <!-- <div class="hero__tagline-wrapper">
        <p class="hero__tagline">
            <span>Exercise is</span>
            <span>happiness</span>
        </p>
    </div> -->
    <div class="hero__content-wrapper">
        <h2 class="hero__heading">LOGO</h2>
        <p class="hero__subheading">
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
        <a href="#" class="hero__link button--red">Begin your journey</a>
    </div>

    <img class="hero__img" src="../../../../../assets/images/muscles-black-and-white-sport.png" alt="male athlete">
</section>