<section class="hero">
    <!-- <div class="hero__tagline-wrapper">
        <p class="hero__tagline">
            <span>Exercise is</span>
            <span>happiness</span>
        </p>
    </div> -->
    <div class="hero__content-wrapper">
        <h2 class="hero__heading">
            Made for recreational or professional athletes: maximize your performance</h2>
        <p class="hero__subheading">
            Enhance your diet, training and lifestyle
        </p>
        <button href="#" class="hero__link button--red">
            <span>Start now</span>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <!-- <img class="hero__img" src="../../../../../assets/images/athlete-male.png" alt="male athlete"> -->
</section>