<footer class="footer">
    <div class="footer__inner">
        <ul class="footer__sections">
            <li class="footer__description">
                <img class="pointer" routerLink="home" width="100" src="../../../assets/images/hs-logo.png" alt="logo">
                <p class="footer__slogan">
                    For athletes by athletes
                </p>
                <p class="footer__disclaimer">
                    &copy; 2022 HS-Academy Ltd.
                </p>
            </li>
            <li class="footer__main-nav">
                <h5 class="footer__heading">Website</h5>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Services</a>
                    </li>
                    <li class="footer__list-item">
                        <a routerLink="/blog" class="footer__link">Blog</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Our Team</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="mailto: contact@hs-app.com" class="footer__link">Contacts</a>
                    </li>
                </ul>
            </li>
            <li class="footer__legal">
                <h5 class="footer__heading">Legal</h5>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Terms</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Privacy &amp; Cookies</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link"></a>
                    </li>
                </ul>
            </li>
            <li class="footer__socials">
                <h5 class="footer__heading">Socials</h5>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Facebook</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Instagram</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Twitter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>