.footer {
    padding: 3rem 0;
    background-color: #000;
    color: #fff;
}

.footer__heading {
    margin-bottom: 1rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #858585;
}

.footer__slogan {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    color: grey;
}

.footer__disclaimer {
    font-size: 0.7rem;
}

.footer__link {
    color: #fff;
}

.footer__inner {
    max-width: 85%;
    margin: 0 auto;
}

.footer__sections {
    display: flex;
    justify-content: space-evenly;
}

.footer__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 20%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}