<section class="services">
    <div class="services__inner">
        <div class="services__content">
            <h2 class="services__subheading">Training services</h2>
            <h3 class="services__heading">A Training Service for every goal</h3>
            <p class="services__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum?
                Unde
                sint vitae amet animi!</p>
            <a href="#" class="services__link button--dark">
                <span>Explore our services</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <div class="services__gallery">
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text">
                    <p>
                        <span>Gain</span>
                        <span>Strength</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>