.services__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 8rem 0;
}

.services__content {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.services__subheading {
    color: var(--red-color);
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
}

.services__heading {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}

.services__description {
    font-size: 1.2rem;
    line-height: 1.2;
}

.services__link {
    padding: 1.5rem 0;
    text-align: center;
}

.services__link span {
    font-size: 1.2rem;
}

.services__link i {
    margin-left: 0.5rem;
}

.services__gallery {
    display: grid;
    grid-column: 6/span 7;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 24px;
}

.services__card {
    position: relative;
    background-size: cover;
    width: 200px;
    height: 300px;
}

.services__card:nth-child(1){
    grid-column: 1/span 1;
    grid-row: 2/span 4;
    background-image: url("../../../../../assets/images/strength.jpg");
}

.services__card:nth-child(2){
    grid-column: 2/span 1;
    grid-row: 3/span 4;
    background-image: url("../../../../../assets/images/bodybuilding.jpg");
}

.services__card:nth-child(3){
    grid-column: 3/span 1;
    grid-row: 1/span 4;
    background-image: url("../../../../../assets/images/diet.jpg");
}

.services__card:nth-child(4){
    grid-column: 1/span 1;
    grid-row: 6/span 4;
    background-image: url("../../../../../assets/images/conditioning.jpg");
}

.services__card:nth-child(5){
    grid-column: 2/span 1;
    grid-row: 7/span 4;
    background-image: url("../../../../../assets/images/powerlifter.jpg");
}

.services__card:nth-child(6){
    grid-column: 3/span 1;
    grid-row: 5/span 4;
    background-image: url("../../../../../assets/images/weight-loss.jpg");
}

.services__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
}

.align-left {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: flex-end;
}

.services__text span {
    margin-bottom: 5px;
}

.slim {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 1px;
}

.bold {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
}

.stretched {
    letter-spacing: 4px;
}

.bg-white {
    padding: 4px;
    background-color: #fff;
    color: #000;
}

.bg-black {
    padding: 4px;
    background-color: #000;
    color: #fff
}

.italic {
    font-style: italic;
}