<section class="services">
    <div class="services__inner">
        <div class="services__content">
            <h2 class="services__subheading">Training services</h2>
            <h3 class="services__heading">A Training Service for every goal</h3>
            <p class="services__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum?
                Unde
                sint vitae amet animi!</p>
            <a href="#" class="services__link button--dark">
                <span>Explore our services</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <div class="services__gallery">
            <div class="services__card">
                <div class="services__text align-left">
                    <span class="bg-white slim">Gain</span>
                    <span class="bold bg-white">Strength</span>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text align-center">
                    <span class="bold">Be</span>
                    <span class="stretched">Athletic</span>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text align-center">
                    <span class="italic stretched">Eat</span>
                    <span class="bold bg-white">Well</span>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text align-center">
                    <span class="bg-white bold">Run</span>
                    <span class="italic stretched">&amp; burn</span>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text align-center">
                    <span class="bold bg-white">Maximize</span>
                    <span class="slim stretched">Performance</span>
                </div>
            </div>
            <div class="services__card">
                <div class="services__text align-center">
                    <span class="slim italic stretched">Improve</span>
                    <span class="bold bg-white">Conditioning</span>
                </div>
            </div>
        </div>
    </div>
</section>