<!-- <section class="posts">
    <mat-card class="post" *ngFor="let post of posts | async" routerLink="{{post.id}}">
        <mat-card-content class="post__content">
            <div class="post__img-wrapper">
                <img class="post__img" src="{{post.image}}" alt="{{post.title}}">
            </div>
            <h2>{{post.title}}</h2>
            <p><small>Posted by {{post.author}}</small></p>
        </mat-card-content>
    </mat-card>
</section> -->

<section class="posts">
    <div class="posts__inner">
        <article class="card" *ngFor="let post of posts | async">
            <div class="card__img-wrapper pointer" routerLink="{{post.id}}"
                style="background-image: url({{post.image}});">
                <!-- <img class="card__img" src="{{post.image}}" alt="{{post.title}}"> -->
            </div>
            <div class="card__content-wrapper">
                <h3 class="card__category">
                    Training
                </h3>
                <h2 class="card__heading pointer" routerLink="{{post.id}}">{{post.title}}</h2>
                <p class="card__author">Author: {{post.author}}</p>
                <button class="card__delete-btn" mat-icon-button *ngIf="auth.currentUserId === post.authorId"
                    (click)="delete(post.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </article>
    </div>
    <button routerLink="dashboard" mat-raised-button>Dashboard</button>
</section>