<header class="header">
    <div class="header__inner">
        <div class="header__upper">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, sed?</h1>
        </div>
        <div class="header__main">
            <div class="header__logo">
                <a href="#">-Logo-</a>
            </div>
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="#">
                            Services
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Contact us</a>
                    </li>
                    <div class="header__separator"></div>
                    <li class="header__nav-item header__nav-item--squared">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li class="header__nav-item header__nav-item--squared">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="header__nav-item header__nav-item--squared">
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>