<section class="trainers">
    <div class="trainers__inner">
        <div class="trainers__cards">
            <div class="trainers__column">
                <div class="trainers__card">
                    <div class="trainers__pop-up">
                        <h4 class="trainers__name">Meet Hristiyan</h4>
                    </div>
                </div>
                <div class="trainers__card">
                    <div class="trainers__pop-up">
                        <h4 class="trainers__name">Meet Monica</h4>
                    </div>
                </div>
            </div>
            <div class="trainers__column">
                <div class="trainers__card">
                    <div class="trainers__pop-up">
                        <h4 class="trainers__name">Meet Monica</h4>
                    </div>
                </div>
                <div class="trainers__card">
                    <div class="trainers__pop-up">
                        <h4 class="trainers__name">Meet Hristiyan</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="trainers__content">
            <h2 class="trainers__heading">Get to know more about our trainers</h2>
            <p class="trainers__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
                doloribus nam inventore porro. Error quia dolorem rerum, labore deleniti sint!
                Unde
                sint vitae amet animi!</p>
            <a href="#" class="trainers__link button--light">
                <span>Our team</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>