:root {
    --red-color: #c43b5c;
}

.button--red {
    border: none;
    background-color: var(--red-color); 
    color: #fff;
    transition: 200ms;
}

.button--red:hover:enabled {
    background-color: #fff;
    color: var(--red-color);
}

.button--dark {
    border: none;
    background-color: #000;
    color: #fff;
    transition: 0.2s;
}

.button--dark:hover:enabled {
    background-color: rgb(41, 41, 41);
}

.button--light {
    border: none;
    background-color: #fff;
    transition: 200ms;
}

.button--light:hover:enabled {
    background-color: rgb(201, 201, 201);
}

.pointer {
    cursor: pointer;
}

.auth__btn, .auth__form-group, .auth__input {
    width: 100%;
    max-width: 328px;
}

.auth__input {
    margin-bottom: 1rem;
    height: 54px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}

.auth__btn {
    height: 54px;
    font-size: 1.1rem;
}

.auth__btn:disabled {
    cursor: not-allowed;
    background-color: grey;;
}

.auth__errors {
    color: var(--red-color);
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
}