<section class="newsletter-wrapper">
    <div class="newsletter__slogan-wrapper">
        <img class="newsletter__slogan" src="../../../../../assets/images/circular-slogan.png"
            alt="Exercise is happiness">
    </div>
    <div class="newsletter">
        <div class="newsletter__headings-wrapper">
            <h5 class="newsletter__subtitle">
                Subscribe to our newsletter
            </h5>
            <h2 class="newsletter__title">
                Want to get the latest articles from our blog?
            </h2>
        </div>
        <div class="newsletter__form-wrapper">
            <form action="post" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Email">
                <button class="newsletter__button button--red">Sign Up</button>
            </form>
        </div>
    </div>
</section>