.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
    margin-bottom: 20rem;
    background-color: #eceef4;
}

.newsletter__slogan-wrapper {
    position: relative;
}

.newsletter__slogan-wrapper::before {
    content: "-HS-";
    position: absolute;
    top: 46%;
    left: 27%;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color:#575757;
}

.newsletter__slogan {
    width: 70%;
    animation: rotation 16s infinite linear;
}
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.newsletter__inner {
    display: flex;
    align-items: center;
    gap: 5rem;

    padding: 3rem;
    background-color: #fff;
    /* border: 1px solid #575757; */
    border-radius: 0.5rem;
    font-family: "Raleway", sans-serif;
}

.newsletter__subtitle {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #575757;
}

.newsletter__title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.6rem;
}

.newsletter__form {
    display: flex;
    gap: 2rem;
}

.newsletter__input {
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    background-color: #eceef4;
}

.newsletter__button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

